<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-brand">
            <a href="/admin" class="navbar-brand">Panel administratora</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Strona Główna</a>
                </li>

                <div class="btn-group">
                    <button type="button" class="btn-outline-success mr-3 dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Obsługa urzytkownika
                    </button>
                    <div class="dropdown-menu bg-dark">
                        <div class="col-md-12 text-center">
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <form th:action="@{/addUser}" th:method="get">
                                    <button class="btn btn-md btn-outline-success mb-2"
                                            type="Submit">Dodaj urzytkownika
                                    </button>
                                </form>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <form th:action="@{/deleteUser}">
                                    <button class="btn btn-md btn-outline-success mb-2"
                                            type="Submit">Usuń urzytkownika
                                    </button>
                                </form>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <form th:action="@{/user}" th:method="get">
                                    <button class="btn btn-md btn-outline-success mb-2"
                                            type="Submit">Wyświetl urzytkowników
                                    </button>
                                </form>
                            </li>
                        </div>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn-outline-success mr-3 dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Obsługa klienta
                    </button>
                    <div class="dropdown-menu bg-dark">
                        <div class="col-md-12 text-center">
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <form th:action="@{/addClient}">
                                    <button class="btn btn-md btn-outline-success mb-2"
                                            type="Submit">Dodaj klienta
                                    </button>
                                </form>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <form th:action="@{/deleteClient}">
                                    <button class="btn btn-md btn-outline-success mb-2"
                                            type="Submit">Usuń klienta
                                    </button>
                                </form>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <form th:action="@{/client}" th:method="get">
                                    <button class="btn btn-md btn-outline-success mb-2"
                                            type="Submit">Wyświetl klientow
                                    </button>
                                </form>
                            </li>
                        </div>
                    </div>
                </div>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/admin/Addalservice}">
                        <button class="btn btn-md btn-outline-success mr-3"
                                type="Submit">Dodaj usluge do cennika
                        </button>
                    </form>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="get">
                        <button class="btn btn-md btn-outline-danger mr-3" name="registration"
                                type="Submit">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>

</html>